<div class="bg-gradient-to-b from-yellow-100 to-yellow-400 w-100 h-screen flex flex-col items-center">
  <div class="flex items-center">
    <h1 class="mt-2 text-5xl font-extrabold font-sans">PokeQuiz</h1>
  </div>
  <div class="w-1/2 flex-1 flex flex-col items-center justify-center">
    <form [formGroup]="formLogin" novalidate class="bg-white p-10 rounded-md w-1/2 flex flex-col justify-center">
      <div class="relative h-10 input-component empty mb-4">
        <input
          formControlName="email"
          id="email"
          type="email"
          name="email"
          class="h-full w-full border-gray-300 px-2 transition-all border-blue rounded-md"
        />
        <label for="email" class="absolute left-2 transition-all bg-white px-1">
          Email
        </label>
      </div>
        <div class="relative h-10 input-component empty mb-4">
          <input
            formControlName="password"
            id="password"
            type="password"
            name="password"
            class="h-full w-full border-gray-300 px-2 transition-all border-blue rounded-md"
          />
          <label for="password" class="absolute left-2 transition-all bg-white px-1">
            Password
          </label>
        </div>
        <div class="flex items-center justify-center mb-4">
          <p>Don't have account? <a routerLink="/auth/register" class="underline">Sign up</a> </p>
        </div>
        <div class="flex items-center justify-center">
          <button (click)="loginUser()" class="py-3 px-6 text-white rounded-lg bg-blue-400 shadow-lg block md:inline-block">Login</button>
        </div>

        <!-- <app-random-letters></app-random-letters> -->
    </form>
  </div>
</div>

