
<div class="bg-gradient-to-b from-yellow-100 to-yellow-400 w-full h-screen flex justify-center">
  <div class="w-10/12 flex flex-col">
    <header class="flex items-center justify-around h-1/4 px-6">
      <div>
        <h1 class="font-extrabold font-sans">Who's That Pokémon?</h1>
        <img src="" alt="">
      </div>
      <div>
        <h1 class="text-center text-5xl font-extrabold font-sans text-blue-900">Who's That Pokémon?</h1>
      </div>
      <div>
        <h1 class="font-extrabold font-sans">Who's That Pokémon?</h1>
        <img src="" alt="">
      </div>
      <div>
        <button class="cursor-pointer focus:outline-none"><fa-icon size="2x" style="color: #fff; stroke:#000; stroke-width:4" [icon]="userIcon"></fa-icon></button>
      </div>
    </header>
    <!-- Button StartGame -->
    <div class="flex items-center justify-center h-1/4">
      <button class="py-3 px-6 max-h-24 text-white rounded-lg bg-blue-400 shadow-lg block md:inline-block text-4xl cursor-pointer focus:outline-none">Start Game</button>
    </div>
    <!-- Component List Scores -->
      <app-list-order [scoreList]="scoreList" class="w-full flex justify-center" ></app-list-order>
    <!-- Component List comodines -->
  </div>

</div>
